<.modal
  :if={@live_action == :resource_action}
  id="resource-action-modal"
  on_cancel={JS.navigate(@return_to)}
  title={ResourceAction.name(@resource_action, :title)}
  open={true}
  close_label={Backpex.__("Close modal", @live_resource)}
>
  {assigns
  |> assign(module: Backpex.FormComponent, id: :modal, action_type: :resource)
  |> Map.drop([:fields | lv_reserved_assigns()])
  |> live_component()}
</.modal>

<%= if Map.get(assigns, :action_to_confirm) do %>
  {Backpex.HTML.ItemAction.action_confirm_modal(assigns)}
<% end %>

{@live_resource.render_resource_slot(assigns, :index, :before_page_title)}
{@live_resource.render_resource_slot(assigns, :index, :page_title)}

{@live_resource.render_resource_slot(assigns, :index, :before_actions)}
{@live_resource.render_resource_slot(assigns, :index, :actions)}

{@live_resource.render_resource_slot(assigns, :index, :before_filters)}
{@live_resource.render_resource_slot(assigns, :index, :filters)}

{@live_resource.render_resource_slot(assigns, :index, :before_metrics)}
{@live_resource.render_resource_slot(assigns, :index, :metrics)}

{@live_resource.render_resource_slot(assigns, :index, :before_main)}
{@live_resource.render_resource_slot(assigns, :index, :main)}
{@live_resource.render_resource_slot(assigns, :index, :after_main)}
