<.main_container>
  {show_panel(assign(assigns, :panel_fields, visible_fields_by_panel(@fields, :default, assigns)))}

  <%= for {name, label} <- @panels do %>
    {show_panel(
      assign(assigns, panel_fields: visible_fields_by_panel(@fields, name, assigns), label: label, class: "mt-4")
    )}
  <% end %>
</.main_container>
