<.main_container>
  {show_panel(assign(assigns, panel_fields: visible_fields_by_panel(@fields, :default, assigns)))}

  <%= for {name, label} <- @panels do %>
    <%= if visible_fields_by_panel(@fields, name, assigns) != [] do %>
      {show_panel(
        assign(assigns,
          panel_fields: visible_fields_by_panel(@fields, name, assigns),
          label: label,
          class: "mt-4"
        )
      )}
    <% end %>
  <% end %>
</.main_container>
